@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.App {
  text-align: center;
  font-family: "Calistoga";

}

.App-list  {
  list-style: none;
  padding-right: 20px;
  text-decoration: none;
}

.list-link{
  text-decoration: inherit;
  margin-right: 15px;
  /* background-color: khaki; */
  padding: 5px;
}

@media screen and (max-width: 968px) {

  .App-nav{
    background-color: khaki;
    color: black;
    
  }
  .App-list  {
  list-style: none;
  /* padding-right: 20px; */
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.list-link{
 text-decoration: inherit;
  /* margin-right: 15px; */
  /* background-color: khaki; */
  
} 
}

